url: ://lapepita.github.io/
baseurl: 
google_analytics_key:

collections:
  staff_members:
    _hide_content: true

permalink: pretty

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: ""
    values:
      layout: "default"

newsletter_action: "//github.us14.list-manage.com/subscribe/post?u=9c8f8795a80ee2cad9bbb2f88&amp;id=bc08bf55f6"

