---
layout: default
title: The Sheep Vote
header_background_image: /images/Background-min.jpg
newsletter_background_image: /images/backNewsLetter-min.jpeg
---
<header style="background-image: url({% include relative-src.html src=page.header_background_image %});">
	<div class="container">
		<h1 class="editable">Surf updates, specific to East and West of Melbourne</h1>
		<div class="button">
			<a href="#sign-up">Sign up for updates</a>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</header>

<section id="learn-more">
	<div class="container">
		<h2 class="editable">Break specific suggestions</h2>

		<ul class="thirds">
			<li>
				<div class="image"><img class="editable" alt="population" src="{{ site.baseurl }}/images/time-2.svg" /></div>
				<h3 class="editable">Time</h3>
				<p class="editable">Stop wasting time and get break specific information.  No more "I'm not quite convinced, let's check just one more spot...."</p>
			</li>

			<li>
				<div class="image"><img class="editable" alt="trends" src="{{ site.baseurl }}/images/heart.svg" /></div>
				<h3 class="editable">Quality</h3>
				<p class="editable">We maintain a detailed database on break specific conditions, we match this with forecasting and reporting to produce quality.</p>
			</li>

			<li>
				<div class="image"><img class="editable" alt="conditions" src="{{ site.baseurl }}/images/map-10.svg" /></div>
				<h3 class="editable">Updates</h3>
				<p class="editable">We can give you the heads up when a favorite break is looking like it will be working.  Maybe a road trip is on order?</p>
			</li>
		</ul>
	</div>
</section>

<section>
	<div class="container mission">
		<h2 class="editable">Our Mission</h2>
		<p class="editable"><img src="images/mission-min.jpg" alt="Sheep" width="200" height="134">Surf. Our mission is to provide a reliable, break specific surf forecast and information tool. We want to be updated when conditions look good and be notified where.  We can tell you where is good on the current tide, the current swell and let you know if a weekend trip is in order. Sign up to our news letter for updates!</p>
	</div>
</section>

<section>
	<div class="container">
		<blockquote>
			<p class="quote editable">The time spent checking spots, dreaming of a road trip where you score and reliying on other people's knowledge is over'</p>
			<div class="attribute">
				<p class="meta">
					<span class="author editable"><strong>Nathan Birrell</strong><br />Co-Founder</span>
					<span class="image"><img class="editable" src="{{ site.baseurl }}/images/nathan.jpg" alt="Wooly"></span>
				</p>
			</div>
		</blockquote>
	</div>
</section>

<section id="sign-up" class="newsletter" style="background-image: url({% include relative-src.html src= page.newsletter_background_image %});">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable">Sign up to hear the latest news and progress in our journey to get quality sessions, every time.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</section>
<!--
<section id="donate">
	<div class="container">
		<h2 class="editable">Make a donation</h2>
		<div class="donate">
			{{ site.donation_embed }}
		</div>
	</div>
</section>
--> 
<section>
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		{% for post in site.posts %}
			{% assign author_id = post.author_staff_member | prepend: "/staff_members/" | append: "/" %}
			{% assign author = site.staff_members | where: "url", author_id | first %}
			<div class="post">
				<div class="post-title">
					<img src="{% include relative-src.html src=author.image %}" alt="Photo of {{ author.name }}" width="50" height="50" />
					<h3>{{ post.title }}</h3>
					<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
				</div>
				{{ post.content }}
				<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
			</div>
		{% endfor %}
	</div>
</section>
